<div class="three-column-footer-contact-form-container">
    <footer class="three-column-footer-contact-form" data-equalizer data-equalize-by-row="true">
      <div class="footer-left" data-equalizer-watch>
        <div class="baseline">
          <div class="contact-details">
            <h6>Contacto</h6>
            <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> Tel. +34 665 722 386</p>
            <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail: carlosmotion@hotmail.com</a></p>
            <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> España, Tarragona, Calafell.<br> 43820</p>
          </div>
        </div>
       </div>
    </footer>
  </div>
  
  