<%- include('partials/header') %>

<!-- <div class="title-production"> <p>El equipamiento de Pasion Camper está siendo renovado, en cuanto tengamos stock estará disponible </p></div> -->

<div class="templatemo-welcome-margin">
    <div class="templatemo-welcome" id="templatemo-welcome">
        <div class="container">
            <div class="templatemo-slogan text-center">
                <span class="txt_darkgrey">El equipamiento que te ofrece</span><span class="txt_orange"> Pasion Camper</span>
            </div>	
        </div>
    </div>
</div>

<div class="container-mine">    
    <div class="row">
        <div class="col-md-8">				
            <div class="panel panel-default-product  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">	
                        <div class="col-md-4">	
                            <img class="img-responsive" src="images/instalacion/3.1.jpg" alt=""/>
                        </div>
                        <div class="col-md-8">	
                            
                            <h2>Agua</h2>
                            <p>Trabajamos con las principales marcas del mercado, instalación de sistemas de agua con bomba de presión y manguera reforzada.
                                Montaje de depositos a medida, agua limpias y grises  con sonda de nivel y electroválvula de descarga.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="container-mine">    
    <div class="row">
        <div class="col-md-8">				
            <div class="panel panel-default-product  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">	
                        <div class="col-md-4">	
                            <img class="img-responsive" src="images/instalacion/3.0.jpg" alt=""/>
                        </div>
                        <div class="col-md-8">	
                            
                            <h2>Gas</h2>
                            <p>Instalaciones de cocinas, calentadores de agua,  y calefacciones a gas segun normativa del R.D. 919/2006. 
                                El diseño, construcción y montaje se realizará según la norma UNE-EN 1949.
                                Se realizan unas pruebas previas a la puesta en servicio según UNE-EN 1949, para comprobar que la instalación, materiales y equipos cumplen los requisitos de resistencia y estanquidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-mine">    
    <div class="row">
        <div class="col-md-8">				
            <div class="panel panel-default-product  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">	
                        <div class="col-md-4">	
                            <img class="img-responsive" src="images/instalacion/4.7.jpg" alt=""/>
                        </div>
                        <div class="col-md-8">	
                            
                            <h2>Electricidad</h2>
                            <p>Realizamos todo tipo de trabajos eléctricos
                                con certificado para AC220V. Instalaciones de DC12V control por centralita CBE, Convertidores o inversores de corriente en línea directa bajo interruptor para tener DC220V, Instalacion de energia solar en función de la potencia y dimensiones necesarias, Instalacion de baterias auxiliares Agm con relé de carga y cargador, Instalación de cualquier elemento eléctrico o 
                                electrónico, iluminación led interior como plafones, ojos de buey, tiras leds, y exterior para avance o toldos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div class="container-mine">    
    <div class="row">
        <div class="col-md-8">				
            <div class="panel panel-default-product  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">	
                        <div class="col-md-4">	
                            <img class="img-responsive" src="images/instalacion/5.1.jpg" alt=""/>
                        </div>
                        <div class="col-md-8">	
                            
                            <h2><a href="/calefaccion">Calefacción</a></h2>
                            <p>Realizamos instalaciones de calefacciones estáticas de gasoil y gas. Trabajamos con las principales marcas del sector
                               como Webasto, Truma, Eberspacher, etc
                               </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-mine">    
    <div class="row">
        <div class="col-md-8">				
            <div class="panel panel-default-product  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">	
                        <div class="col-md-4">	
                            <img class="img-responsive" src="images/instalacion/6.3.jpg" alt=""/>
                        </div>
                        <div class="col-md-8">	
                            <h2>Montaje de Accesorios</h2>
                            <p>A los accesorios nos referimos a todo aquellos elementos que por su montaje no necesitan 
                                pasar ningun tipo de homologacion, como camaras de marcha atras, antenas de TV, toldos, portabicis, 
                                elementos electricos, tipo neveras, inversores, etc. 
                                Pero que, sin duda nos hacen la vida camper mas confortable y no se puede prescindir de ellos
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="container-mine">    
    <div class="row">
        <div class="col-md-8">				
            <div class="panel panel-default-product  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">	
                        <div class="col-md-4">	
                            <img class="img-responsive" src="images/instalacion/7.0.jpg" alt=""/>
                        </div>
                        <div class="col-md-8">	
                            <h2>Homologaciones</h2>
                            <p> Estamos trabajando con un equipo de ingenieros, que avalan nuestros proyectos y después de pasar por laboratorio, nos dan la homologación, para no tener ningún tipo de problema a la hora de circular y poder disfrutar de su ocio con total tranquilidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>