
    

    <body>
        <%- include('partials/header') %>
<!--  <%- include('partials/carousel') %> -->

<div><img class="image-temporal-carousel" src="images/van1.jpg" alt=""></div>

        <div class="templatemo-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/leaf.png" alt="icon" />
                                <span class="templatemo-service-item-header">EQUIPAMIENTO</span>
                            </div>
                            <p>Nam porta adipiscing tortor, eget rutrum turpis bibendum ut. Donec eu lacus in diam euismod imperdiet eu ut turpis. Morbi felis orci, tincidunt pretium laoreet id, euismod et lacus. Praesent aliquet magna vitae mi elementum pharetra.</p>
                            <div class="text-center">
                            	<a href="/equipamiento" 
                                	class="templatemo-btn-read-more btn btn-orange">Saber +</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/mobile.png" alt="icon"/>
                                <span class="templatemo-service-item-header">TRABAJOS</span>
                            </div>
							<p>Urbanic is a Bootstrap template from templatemo that is available for free instant download. Credits go to <a rel="nofollow" href="http://getbootstrap.com" target="_parent">Bootstrap</a> and <a rel="nofollow" href="http://unsplash.com" target="_parent">Unsplash</a> for images used in this template. You do not need to provide a credit link to us. You may spread a word about templatemo. Thank you.</p>
                            <div class="text-center">
                                <a href="/trabajos" 
                                	class="templatemo-btn-read-more btn btn-orange">Saber +</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/battery.png" alt="icon"/>
                                <span class="templatemo-service-item-header">VENTA</span>
                            </div>
                            <p>Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum consectetur vel, egestas sit amet erat. Morbi rhoncus leo fermentum viverra.</p>
                            <div class="text-center">
                                <a href="/venta" 
                                	class="templatemo-btn-read-more btn btn-orange">Saber +</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <br class="clearfix"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- templatemo 395 urbanic -->
        
        <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="templatemo-slogan text-center">
                    <span class="txt_darkgrey">Solicite su presupesto</span>
                    <p class="txt_slogan"><i>Si puedes soñarlo, podemos hacerlo</i></p>
                    <button class="contact-button"><a class="a-mail" href="mailto:carlosmotion@hotmail.com?Subject=Solicitar%20Presupuesto" target="_top">e-Mail</a></button>
                    
                </div>	
            </div>
        </div>
    </body>

    