
    

    <body>
        <%- include('partials/header') %>
<!--  <%- include('partials/carousel') %> -->

<div><img class="image-temporal-carousel" src="images/van1.jpg" alt=""></div>

        <div class="templatemo-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/leaf.png" alt="icon" />
                                <span class="templatemo-service-item-header">EQUIPAMIENTO</span>
                            </div>
                            <p>Realizamos cualquier instalación  que necesites utilizando materiales
                                resistentes, ligeros, duraderos y  libre de halógenos, en la 
                                medida de lo posible, bajo las  normativas de instalación, con 
                               los certificados correspondientes tanto en gas,  agua y electricidad 
                                AC12V DC220V.<br>
                               También instalamos energía solar en función de la potencia y dimensiones necesarias.</p>
                            <div class="text-center">
                            	<a href="/equipamiento" 
                                	class="templatemo-btn-read-more btn btn-orange">Saber +</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/mobile.png" alt="icon"/>
                                <span class="templatemo-service-item-header">TRABAJOS</span>
                            </div>
							<p>Aqui mostramos nuestros ultimos trabajos, podras encontrar diferentes distribuciones y acabados, variedad de tonalidades de madera y muchas opciones e ideas para poder elegir la que mas se adapte a tus necesidades. Esperamos que te gusten.</p>
                            <div class="text-center">
                                <a href="/trabajos" 
                                	class="templatemo-btn-read-more btn btn-orange">Saber +</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/battery.png" alt="icon"/>
                                <span class="templatemo-service-item-header">TRANSFORMACIONES</span>
                            </div>
                            <p>Hacemos todo tipo de transformaciones, diseños totalmente 
                                personalizados, trabajamos con materiales de primera                                
                                calidad para poder ofrecer la máxima durabilidad en                                 
                                nuestras campers.                                 
                                <br>                                
                                Si tienes una idea, un proyecto en mente, compartelo 
                                con nosotros y nos adaptamos a lo que estás buscando.                                
                                Amplia gama de tableros, revestimientos y accesorios.
                                <br>
                                Si no tienes pensado hacer una transformación completa,
                                no quieres homologar, o  usas tu vehículo para el dia                                
                                a dia y necesitas algún tipo de mueble desmontable                                
                                no te preocupes, te ofrecemos diseño de muebles a medida,                                 
                                tu decides donde y como, desde un pequeño mueble colgante,                                
                                hasta modulos extraibles, con depósitos de aguas, bomba,                                
                                fregadero, etc.
                                </p>
                            <div class="text-center">
                                <a href="/transformaciones" 
                                	class="templatemo-btn-read-more btn btn-orange">Saber +</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <br class="clearfix"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- templatemo 395 urbanic -->
        
        <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="templatemo-slogan text-center">
                    <span class="txt_darkgrey">Solicite su presupesto</span>
                    <p class="txt_slogan"><i>Si puedes soñarlo, podemos hacerlo</i></p>
                    <button class="contact-button"><a class="a-mail" href="mailto:carlosmotion@hotmail.com?Subject=Solicitar%20Presupuesto" target="_top">e-Mail</a></button>
                    
                </div>	
            </div>
        </div>
    </body>

    