<%- include('partials/header') %>

<!-- <div class="templatemo-welcome-margin">
    <div class="templatemo-welcome" id="templatemo-welcome">
        <div class="container">
            <div class="templatemo-slogan text-center">
                <span class="txt_darkgrey">Trabajos realizados por</span><span class="txt_orange"> Pasion Camper</span>
            </div>	
        </div>
    </div>
</div> -->
<div class="containerpags">
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/citroen-jumper-h2/0.jpg" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                <h2><a href="/citroen-jumper-h2">Citroen Jumper L3 H2 2008</a></h2>
                                <p>Os presentamos esta Citroen Jumper L3h2, homologado para dormir y viajar 4.
                                    Con los el panelado en madera y polipiel. Con espacio de 170cm para tablas de surf, snowboard, cañas de pescar, etc.
                                    Maletero/dormitorio móvil para meter bicicletas motos o cualquier tipo de bulto de gran volumen. Esperamos que os guste. +info</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/transporter-t4/0.jpg" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="transporter-t4">Volkswagen Transporter T4</a></h2>
                                <p>Restauración de Vw Caravelle T4, cambio de motor, saneamiento de óxidos, puesta a punto general, homologado para dormir 3 y viajar 4, su propietario optó por cocina en L en la entrada y salon en U, con capacidad para 5-6 personas. Cajón trasero con muchas opciones. Esperamos que os guste.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/citroen-jumper-h3/0.jpg" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                <h2><a href="/citroen-jumper-h3">Citroen Jumper L3 H2 2014</a></h2>
                                <p>Aquí tenéis otra Citroen Jumper L3H2, Homologado para dormir y viajar 4 personas. En este caso el panelado es con madera y vinilo decorativo con dibujos y polyester en ventanas.
                                    Con espacio de 170cm para tablas de surf, snowboard, cañas de pescar, etc
                                    Maletero, dormitorio y salón trasero, todo en uno, con esta distribución, tenemos muchas posibilidades. Esperamos que os guste. +info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/nissan-interestar/11.jpg" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="/nissan-interestar">Nissan Interestar L3H2</a></h2>
                                <p>Os mostramos una distribución atípica, en una Nissan Interestar L3H2, homologado para dormir y viajar 2.
                                    Panelado en madera y polipiel. Al anular las plazas traseras, ganamos espacio, para montar un baño y cocina muy grande, además de muebles con gran capacidad, incluso con barra para colgar perchas. Esperamos que os guste. +info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/mercedes-vito/3.jpg" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                <h2><a href="/mercedes-vito">Mercedes Vito 112 CDI</a></h2>
                                <p>En este caso os presentamos a la mítica Mercedes Vito chasis w638, homologado para dormir y viajar 2. Cuenta con nevera de 65L. y panel solar de 150w, que no es muy habitual en este tipo de vehículos. Compartimento para wc portatil, fuego a gas, gran maletero y espacio para tablas de surf. Esperamos que os guste. +info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/transporter-t5/12.jpg" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="transporter-t5">Volkswagen Transporter T5</a></h2>
                                <p>Recién salida del horno, al rojo vivo, Vw Transporter T5, homologado para dormir 3 y viajar 5,
                                    buen maletero, persianas pvc, armario trasero con apertura frontal y lateral para mejor acceso. Mantenemos las 5 plazas, y al tener base giratoria en los 3 asientos delanteros, ganamos gran espacio para el salon. Esperamos que os guste. +info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/fiat-ducato/0.png" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="/fiat-ducato-l2">Fiat Ducato L2 H2</a></h2>
                                <p>Os presentamos esta Fiat Ducato L2H2, homologado para dormir y viajar 4, panelado 100% polyester, distribución atípica, cambiando el espacio donde suele ir el baño por un mueble con armario, nevera y wc portatil. Perfecta para camping. Maletero, dormitorio y salón trasero todo en uno, con muchas opciones. Esperamos que os guste. + info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/fiat-ducato/0.png" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="/fiat-ducato-l1">Fiat Ducato L1 H1</a></h2>
                                <p>Pequeña pero matona, Fiat Ducato L1H1, homologado para dormir y viajar 6. esta vez buscamos tener más espacio y menos mobiliario, sin olvidarnos de lo más importante, gran nevera, gran panel solar y gran cocina. Esperamos que os guste. +info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/fiat-ducato/0.png" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="/fiat-ducato-l1-2">Fiat Ducato L1 H1</a></h2>
                                <p>Una entrega más en Fiat Ducato L1H1, Homologado para dormir y viajar 4, en este caso con más mobiliario, con asiento doble cama, y un gran maletero. Panelado con madera, foam y polipiel.Esperamos que os guste. +info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/fiat-ducato/0.png" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="/california-beach">Vw California Beach</a></h2>
                                <p>Os mostramos el proceso de metamorfosis de una Vw California Beach a Ocean, homologado para dormir y viajar 4. Con agua caliente, cafetera y muchas cosas más, esperamos que os guste. +info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mine">    
        <div class="row">
            <div class="col-md-8">				
                <div class="panel panel-default-product  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="./images/fiat-ducato/0.png" alt=""/>
                            </div>
                            <div class="col-md-8">	
                                
                                <h2><a href="/peugeot-boxer-l2">Peugeot Boxer L2H2</a></h2>
                                <p>Una entrega más sobre el chasis Peugeot Boxer L2H2, homologado para dormir 4 y viajar 2. En este caso volvemos a cambiar el baño por un módulo en el que podemos encontrar un armario arriba, nevera en la parte central y cajón con wc portatil, panelado en madera, foam y polipiel. Esperamos os guste. + info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>