<head>
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        </head>
        
        <link rel="stylesheet" href="gallery-clean.css">
        <div class="container gallery-container">
        
          <h1>Mercedes Vito </h1>
          <a href="/trabajos"> <h4> <-- Trabajos</h4></a>
          <!-- <p class="page-description text-center">Clean Layout With Minimal Styles</p> -->
          
          <div class="tz-gallery">
        
              <div class="row">
        
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/mercedes-vito/1.jpg">
                                    <img src="../images/mercedes-vito/1.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/mercedes-vito/2.jpg">
                                    <img src="../images/mercedes-vito/2.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/mercedes-vito/3.jpg">
                                <img src="../images/mercedes-vito/3.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/mercedes-vito/4.jpg">
                                <img src="../images/mercedes-vito/4.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/mercedes-vito/5.jpg">
                                    <img src="../images/mercedes-vito/5.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/mercedes-vito/8.jpg">
                                    <img src="../images/mercedes-vito/8.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/mercedes-vito/7.jpg">
                                <img src="../images/mercedes-vito/7.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/mercedes-vito/6.jpg">
                                <img src="../images/mercedes-vito/6.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/mercedes-vito/9.jpg">
                                    <img src="../images/mercedes-vito/9.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/mercedes-vito/10.jpg">
                                    <img src="../images/mercedes-vito/10.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/mercedes-vito/11.jpg">
                                <img src="../images/mercedes-vito/11.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/mercedes-vito/12.jpg">
                                <img src="../images/mercedes-vito/12.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/mercedes-vito/13.jpg">
                                <img src="../images/mercedes-vito/13.jpg" alt="Park">
                            </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
        
            </div>
        
        </div>

            <p class="page-description text-center">    Mercedes Vito 112 Cdi 2002</p>
            <p class="page-description text-center">Esta vez trabajando sobre el mitico chasis W638. Viajar 2, dormir 2, comer 3</p>
            <p class="page-description text-center">-Bateria auxiliar 100a</p>
            <p class="page-description text-center">-Instalació 12v</p>
            <p class="page-description text-center">-Panel Solar isofoton 150w con regulador para 2 baterias. -Calefacción Webasto</p>
            <p class="page-description text-center">-Cocina equipada,</p>
            <p class="page-description text-center">-Nevera 45L 12v de compresor con congelador</p>
            <p class="page-description text-center">-Extractor de aire en la base de la nevera extra con termostato para un menor consumo de la nevera en épocas estivales -Deposito de limpias de 50L.</p>
            <p class="page-description text-center">-Deposito de grises de 50L montado en bajos(exterior)</p>
            <p class="page-description text-center">-Ducha exterior</p>
            <p class="page-description text-center">-Wc Potti</p>
            <p class="page-description text-center">-Iluminación LED, táctil.</p>
            <p class="page-description text-center">-Cama de 120x180</p>
            <p class="page-description text-center">-Contrachapado Hpl, laminado.</p>
            <p class="page-description text-center">-Mesa exterior.</p>
            <p class="page-description text-center">-Claraboya Fiamma 40x40 con oscurecedor y mosquitera. -Llantas de aluminio</p>
            <p class="page-description text-center">-Gran maletero, capacidad para tablas de surf, snow, etc.</p>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
          baguetteBox.run('.tz-gallery');
        </script>
        
        