<head>
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        </head>
        
        <link rel="stylesheet" href="gallery-clean.css">
        <div class="container gallery-container">
        
          <h1>Nissan Interestar</h1>
        
          <!-- <p class="page-description text-center">Clean Layout With Minimal Styles</p> -->
          
          <div class="tz-gallery">
        
              <div class="row">
        
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/Nissan-interestar/1.jpg">
                                    <img src="../images/Nissan-interestar/1.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/Nissan-interestar/2.jpg">
                                    <img src="../images/Nissan-interestar/2.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/Nissan-interestar/3.jpg">
                                <img src="../images/Nissan-interestar/3.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/Nissan-interestar/4.jpg">
                                <img src="../images/Nissan-interestar/4.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/Nissan-interestar/5.jpg">
                                    <img src="../images/Nissan-interestar/5.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/Nissan-interestar/8.jpg">
                                    <img src="../images/Nissan-interestar/8.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/Nissan-interestar/7.jpg">
                                <img src="../images/Nissan-interestar/7.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/Nissan-interestar/6.jpg">
                                <img src="../images/Nissan-interestar/6.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/Nissan-interestar/9.jpg">
                                    <img src="../images/Nissan-interestar/9.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/Nissan-interestar/10.jpg">
                                    <img src="../images/Nissan-interestar/10.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/Nissan-interestar/11.jpg">
                                <img src="../images/Nissan-interestar/11.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/Nissan-interestar/12.jpg">
                                <img src="../images/Nissan-interestar/12.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                </div>
        
            </div>
        
        </div>
        
                <p class="page-description text-center"> Nissan Interestar x70 L3H2</p>
                <p class="page-description text-center">Una distribución atipica en 2 plazas, pero ganando espacio con un buen baño y gran cocina, con una enorme capacidad de maletero y anclajes preparados para llevar una motocicleta.</p>
                <p class="page-description text-center">Viajar 2, dormir 2</p>
                <p class="page-description text-center">-Claraboyas Midi heki 40x40 cocina y salon.</p>
                <p class="page-description text-center">-Claraboya en baño Fiamma 28x28</p>
                <p class="page-description text-center">- Ventana Dometic 1000x500 S4 con estor y mosquitera</p>
                <p class="page-description text-center">-2 Baterias 100a auxiliares con rele de carga auto.con desconecto de baterias. -Panel solar 150w con regulador y pantalla.</p>
                <p class="page-description text-center">-Inversor Fraron 1200w</p>
                <p class="page-description text-center">-Cargador CZ 16ah</p>
                <p class="page-description text-center">-Toma exterior 220v</p>
                <p class="page-description text-center">-Instalacion 12v y 220v homologada CEE</p>
                <p class="page-description text-center">-Centralita Pc180</p>
                <p class="page-description text-center">-Television en salon</p>
                <p class="page-description text-center">-Calefaccion y agua caliente Webasto Dual Top Evo 6.</p>
                <p class="page-description text-center">-Baño con calefacción 120x70 con Potti</p>
                <p class="page-description text-center">-Deposito de limpias 150L.</p>
                <p class="page-description text-center">-Deposito de grises 100L</p>
                <p class="page-description text-center">-Cocina equipada.</p>
                <p class="page-description text-center">-Nevera Tekka 85L con gran congelador.</p>
                <p class="page-description text-center">-Griferia del hogar metalica, no plastico.</p>
                <p class="page-description text-center">-Ducha exterior</p>
                <p class="page-description text-center">-Aislamiento en Kaiflex 20mm</p>
                <p class="page-description text-center">-Contrachapado 15mm en calabó.</p>
                <p class="page-description text-center">-Panelados en polipiel.</p>
                <p class="page-description text-center">-Iluminacion Led</p>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
          baguetteBox.run('.tz-gallery');
        </script>
        
        