<head>
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        </head>
        
        <link rel="stylesheet" href="gallery-clean.css">
        <div class="container gallery-container">
        
          <h1>Transporter T4</h1>
          <a href="/trabajos"> <h4> <-- Trabajos</h4></a>
          <!-- <p class="page-description text-center">Clean Layout With Minimal Styles</p> -->
          
          <div class="tz-gallery">
        
              <div class="row">
        
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/transporter-t4/1.jpg">
                                    <img src="../images/transporter-t4/1.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/transporter-t4/2.jpg">
                                    <img src="../images/transporter-t4/2.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/transporter-t4/3.jpg">
                                <img src="../images/transporter-t4/3.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/transporter-t4/4.jpg">
                                <img src="../images/transporter-t4/4.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/transporter-t4/5.jpg">
                                    <img src="../images/transporter-t4/5.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/transporter-t4/8.jpg">
                                    <img src="../images/transporter-t4/8.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/transporter-t4/7.jpg">
                                <img src="../images/transporter-t4/7.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/transporter-t4/6.jpg">
                                <img src="../images/transporter-t4/6.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/transporter-t4/9.jpg">
                                    <img src="../images/transporter-t4/9.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="../images/transporter-t4/10.jpg">
                                    <img src="../images/transporter-t4/10.jpg" alt="Park">
                                </a>
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="../images/transporter-t4/11.jpg">
                                <img src="../images/transporter-t4/11.jpg" alt="Park">
                            </a>
                        <!-- <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> -->
                        </div>
                    </div>
                </div>
        
            </div>
        
        </div>
        
        <p class="page-description text-center"> Transporter T4 1992</p>
        <p class="page-description text-center">-Restauracion completa, oxidos, asientos, etc -Bateria 100ah</p>
        <p class="page-description text-center">-Tomas 12v usb y tipo mechero.</p>
        <p class="page-description text-center">-Iluminacion led</p>
        <p class="page-description text-center">-Deposito de limpias 50L -Deposito de grises 30L -Bomba sumergibe Comet -Fregadero inox 265mm -Grifo Rk Reich</p>
        <p class="page-description text-center">-Bocana de llenado ext. -Ducha ext</p>
        <p class="page-description text-center">-Tapizados en polipiel -Contrachapado de chopo.</p>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
          baguetteBox.run('.tz-gallery');
        </script>
        
        