<%- include('../partials/header') %>

<div class="templatemo-welcome-margin">
    <div class="templatemo-welcome" id="templatemo-welcome">
        <div class="container">
            <div class="templatemo-slogan text-center">
                <span class="txt_darkgrey">El equipamiento que te ofrece</span><span class="txt_orange"> Pasion Camper</span>
            </div>	
        </div>
    </div>
</div>

<div class="container-mine">    
    <div class="row">
        <div class="col-md-8">				
            <div class="panel panel-default-product  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">	
                        <div class="col-md-4">	
                            <img class="img-responsive" src="http://placehold.it/350x350" alt=""/>
                        </div>
                        <div class="col-md-8">	
                            
                            <h2><a href="">Producto Tapiceria </a></h2>
                            <p>Lorem ipsum dolor sit amet, altera propriae iudicabit eos ne. Vel ut accusam tacimates, prima oratio ius ea. Et duo alii verterem principes, te quo putent melius fabulas, ei scripta eligendi appareat duo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
